.modal.fade.in
{
	top: 10%;
}

.modal#filemanager
{
	width: 765px;
	width: 786px; /* remove horizontal scrollbar */	
	left: 50%;
	margin-left: -393px;
}

/* Temporary hack for WYSIWYG blocks. SHould probably give them the 'wide' class */
.modal {
	width: 730px;
	margin-left: -365px;
}

.modal.wide
{
	width: 965px;
	left: 50%;
	margin-left: -482px;
}

.modal .list-view,
.modal .item-view
{
	width: 49%;
}

.modal .list-view {
	float: left;
	clear: left;
	padding-top: 0px;
}

.modal .item-view {
	float: right;
}

/*
.modal .item-view
{
	margin-left:10px;
}
*/  
.modal .row {
	margin-bottom: 3px;
}

.item-buttons {
	text-align: right;
}

.mce-tinymce.mce-container.mce-panel {
	width: auto !important;
}

/* ----- Messages ----- */

#flashMessage {
	position: fixed;
	text-align: center;
	padding-bottom: 12px;
	padding-top: 12px;
	z-index: 9999;
	width: 100%;
	top: 0;
	font-size: 14px;
}

.alert-success {
	background: rgba(41, 94, 45, 0.65);
	color: #fff;
}

/* ----- Admin Menu ----- */

#adminzone-menu
{
	position:absolute;
	width: 240px;
	background: rgba(0, 0, 0, 0.85);
	top: 0;
	left: 0;
	font-size: 14px;
	z-index:999999;
}

#admin-menu-toggle {
	text-decoration: none;
}

#adminzone-menu h3
{
	margin: 0;
	padding: 12px 8px;
	background: #252525;
	background: -moz-linear-gradient(top,  #252525 1%, #171717 50%, #080808 51%, #050606 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#252525), color-stop(50%,#171717), color-stop(51%,#080808), color-stop(100%,#050606));
	background: -webkit-linear-gradient(top,  #252525 1%,#171717 50%,#080808 51%,#050606 100%);
	background: -o-linear-gradient(top,  #252525 1%,#171717 50%,#080808 51%,#050606 100%);
	background: -ms-linear-gradient(top,  #252525 1%,#171717 50%,#080808 51%,#050606 100%);
	background: linear-gradient(to bottom,  #252525 1%,#171717 50%,#080808 51%,#050606 100%);
	border-bottom: 1px solid #1e1f1f;	
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}

#admin-menu {
	float: none;
}

#admin-menu a
{
	padding: 8px 12px;
	color: #fff;
	text-decoration: none;

	-moz-transition: background 0.1s ease;
	-o-transition: background 0.1s ease;
	-webkit-transition: background 0.1s ease;
	transition: background 0.1s ease;	
}

#admin-menu a:hover
{
	background: rgba(255, 255, 255, 0.25);
	color: #fff;
	text-decoration: none;
}

#adminzone-menu a h3 b.caret
{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	border: none;
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-bottom: 0 dotted;
	border-left: 5px solid transparent;
	content: "";
	position: absolute;
	top: 18px;
	right: 20px;
}

#adminzone-menu.open a h3 b.caret
{
	border: none;
	border-bottom: 5px solid #fff;
	border-left: 5px solid transparent;
	border-top: 0 dotted;
	border-right: 5px solid transparent;
}

#adminzone-menu ul
{
	position: relative;
	border: none;
	border-radius: 0;
	background: none;
/*	margin-left:5px;*/
}

#adminzone-menu .divider {
	margin: 9px 1px;
	overflow: hidden;
	background-color: black;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* ----- Form Elements ----- */

.view label
{
	display:inline-block;
}

.view .buttons
{
	float:right;
}

.in-page-edit.btn-link
{
	position:absolute;
	top:0;
	left:0;
	height:16px;
	width:16px;
	border:none;
	box-shadow:none;
	border-radius:0;
	padding:0;
	text-indent: -9999px;
}


.modal .row label {
	float: left;
	width: 35%;
}

.modal .row input[type=text],
.modal .row input[type=password],
.modal .row input[type=email],
.modal .row select,
.modal .row textarea {
	float: left;
	width: 65%;
}

.modal .upload-row input[type=text] {
	width: 48%;

}

.modal .upload-row .btn {
	position: relative;
	top: -2px;
	margin-left: 5px;
}


/* Clearfix */
.menu-item-list .item-wrapper:before,
.list-view .view:before,
.menu-item-list .item-wrapper:after,
.list-view .view:after {
	display: table;
	clear: both;
	content: "";
}

/* ----- Black styles for Bootstrap ----- */

.modal {
	background-color: #000;
	border-radius: 0;
	border: 6px solid rgba(255, 255, 255, 0.3);
	/*box-shadow: none; */
	color: #fff;
	font-size: 12px;
}

.modal-scrollable select, .modal-scrollable textarea, .modal-scrollable input[type="text"], .modal-scrollable input[type="password"], .modal-scrollable input[type="datetime"], .modal-scrollable input[type="datetime-local"], .modal-scrollable input[type="date"], .modal-scrollable input[type="month"], .modal-scrollable input[type="time"], .modal-scrollable input[type="week"], .modal-scrollable input[type="number"], .modal-scrollable input[type="email"], .modal-scrollable input[type="url"], .modal-scrollable input[type="search"], .modal-scrollable input[type="tel"], .modal-scrollable input[type="color"], .uneditable-input {
	padding: 2px;
	height: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	border-radius: 1px;
	font-size: 12px;
	line-height: 1;
}

.modal-scrollable ul, .modal-scrollable ol {
	margin-left: 0px;
}

.modal-header {
	padding-top: 1px;
	padding-bottom: 1px;
	background: #373737;
	background: -moz-linear-gradient(top,  #373737 0%, #292929 49%, #0e0e0e 51%, #010101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373737), color-stop(49%,#292929), color-stop(51%,#0e0e0e), color-stop(100%,#010101));
	background: -webkit-linear-gradient(top,  #373737 0%,#292929 49%,#0e0e0e 51%,#010101 100%);
	background: -o-linear-gradient(top,  #373737 0%,#292929 49%,#0e0e0e 51%,#010101 100%);
	background: -ms-linear-gradient(top,  #373737 0%,#292929 49%,#0e0e0e 51%,#010101 100%);
	background: linear-gradient(to bottom,  #373737 0%,#292929 49%,#0e0e0e 51%,#010101 100%);

	border-color: #212121;
}

.modal-header h4 {
	font-size: 16px;
}

.modal-footer {
	background-color: transparent;
	border: 1px solid #212121 !important;
	box-shadow: none;
}

/* Requested by ICS, but makes admin interface unusable */
/*
.modal-footer {
	display: none;
}
*/
/*
.modal-scrollable .row {
	margin-bottom: 5px;
}
*/
.modal-scrollable h4 {
	font-weight: normal;
	font-size: 16px;
}

.modal label {
	margin-bottom: 2px;
	color: #fff;
	font-size: 12px;
}

.modal-scrollable a,
.modal-scrollable .btn-link,
.modal-scrollable .btn-link:hover {
	color: #fff;
	text-shadow: none;
}

/* ----- Listings ----- */
.menu-item-list .item-wrapper,
.list-view .view {
	margin-bottom: 3px;
	padding: 5px;
	background: #444343;
	background: -moz-linear-gradient(top,  #444343 0%, #262628 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444343), color-stop(100%,#262628));
	background: -webkit-linear-gradient(top,  #444343 0%,#262628 100%);
	background: -o-linear-gradient(top,  #444343 0%,#262628 100%);
	background: -ms-linear-gradient(top,  #444343 0%,#262628 100%);
	background: linear-gradient(to bottom,  #444343 0%,#262628 100%);

	border: 1px solid #2e2e2f;
	border-top-color: #646464;
	border-bottom-color: #0a0a0a;
	border-radius: 3px;
}

.menu-item-list .item-wrapper:hover,
.list-view .view:hover {
	background: #656669;
	background: -moz-linear-gradient(top,  #656669 0%, #414146 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656669), color-stop(100%,#414146));
	background: -webkit-linear-gradient(top,  #656669 0%,#414146 100%);
	background: -o-linear-gradient(top,  #656669 0%,#414146 100%);
	background: -ms-linear-gradient(top,  #656669 0%,#414146 100%);
	background: linear-gradient(to bottom,  #656669 0%,#414146 100%);

	border-color: #303133;
	border-top-color: #8b8d8f;
	border-bottom-color: #171718;
}

/* Wossthisrulefor? */
.menu-item-list .item-wrapper b, /*
.list-view .view b */ {
	float: left;
}

.view .buttons {
	margin-top: -1px;
}

.list-view .view .btn {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
}
/*
.modal .btn {
	color: #fff;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #2d2d2d, #1a1a1a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d2d2d), to(#1a1a1a));
	background-image: -webkit-linear-gradient(top, #2d2d2d, #1a1a1a);
	background-image: -o-linear-gradient(top, #2d2d2d, #1a1a1a);
	background-image: linear-gradient(to bottom, #2d2d2d, #1a1a1a);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #222222 #222222 #222222;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #222222;
}
*/

.modal .btn.add {
	color: #fff;

	background: #444343;
	background: -moz-linear-gradient(top,  #444343 0%, #262628 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444343), color-stop(100%,#262628));
	background: -webkit-linear-gradient(top,  #444343 0%,#262628 100%);
	background: -o-linear-gradient(top,  #444343 0%,#262628 100%);
	background: -ms-linear-gradient(top,  #444343 0%,#262628 100%);
	background: linear-gradient(to bottom,  #444343 0%,#262628 100%);

	border: 1px solid #313131;
	border-top-color: #646464;
	border-bottom-color: #0a0a0a;
	border-radius: 4px;

	box-shadow: none;
	text-shadow: none;
}

/* ----- Datepicker ----- */

.ui-datepicker {
	background: #000;
	color: #fff;
	font-size: 12px;
}

.ui-datepicker th,
.ui-datepicker td {
	padding: 4px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
}

/* ----- Icons ----- */

.modal-scrollable .close {
	display: block;
	width: 21px;
	height: 21px;
	margin-top: 9px;
	line-height: 21px;
	background: #000;
	border-radius: 10px;
	box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.3);
/*	border: 1px solid #222;*/
	color: #eee;
	cursor: pointer;
	font-size: 16px;
	font-weight: normal;
	opacity: 1;
	text-align: center;
}

.modal-scrollable .close:hover,
.modal-scrollable .close:focus {
	color: #ccc;
	opacity: 1;
	text-decoration: none !important;	
}

.modal .btn.add {
	position: relative;;
}

.modal .btn.add:before {
	position: relative;
	left: -6px;
}

.modal-body .btn.add:first-child {
	float: left;
	margin-bottom: 5px;
}


[class^="icon-"], [class*=" icon-"],
.modal .btn.add:before { /* maybe make this selector more generic: create .icon-btn class? */
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 15px;
	background: #eee;
	border-radius: 8px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);	
	font-size: 14px;
	text-align: center;
	text-shadow: none;
	vertical-align: text-top;
	-moz-transition: all 0.05s ease;
	-o-transition: all 0.05s ease;
	-webkit-transition: all 0.05s ease;
	transition: all 0.05s ease;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
	color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);	
}

[class^="icon-"]:hover:after, [class*=" icon-"]:hover:after {
	background: rgba(255, 255, 255, 0.12);
}

[class^="icon-"]:active, [class*=" icon-"]:active {
	top: 1px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), inset 0 -1px 0px rgba(255, 255, 255, 0.3), inset 0 1px 0px rgba(0, 0, 0, 0.5);	
	color: #ddd;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: rgba(255, 255, 255, 0.0);
	border-radius: 8px;
	content: #fff;	
	content: "e";
	-moz-transition: all 0.05s ease;
	-o-transition: all 0.05s ease;
	-webkit-transition: all 0.05s ease;
	transition: all 0.05s ease;	
}

[class^="icon-"]:active:after,
[class*=" icon-"]:active:after {
	background-color: rgba(0, 0, 0, 0.12);
}

.icon-plus,
.modal .btn.add:before {
	background-color: #87b02e;
	line-height: 17px;
}
.icon-plus:after,
.modal .btn.add:before {
	color: #000;
	content: "+";
}

.icon-edit {
	background-color: #248a06;
}
.icon-edit:after {
	content: "e";
}

.icon-off {
	background-color: #ac0707;
	line-height: 17px;	
}
.icon-off:after {
	content: "×";
}

/* ----- File manager ----- */

.navbar-inner {
	background: black; /* change to gradient? */
}

/* ----- User Management ----- */

#user-search-form {
	margin-bottom: 0px;
}

#user-search-form .row {
	display: inline-block;
}

#user-search-form .row:first-child {
	margin-right: 10px;
}

#user-search-form label,
#user-search-form input,
#user-search-form select {
	float: none;
	width: 220px;
}

.row span label,
.row span input {

	float: none !important;
	width: auto !important;
	display: inline-block !important;
	vertical-align: top !important;
}

.row span label {
	margin-left: 2px;
	margin-right: 12px;
}
/*
#user-form .inline-options label:first-child {
	display: block;
}
*/

/* ----- JQUERY DATEPICKER --------------------------------------- */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 7px;
	height: 1.8em;
	cursor:pointer
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
	text-decoration: underline;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Segoe UI,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Segoe UI,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #666666;
	background: #000000;
	color: #ffffff;
}
.ui-widget-content a {
	color: #ffffff;
}
.ui-widget-header {
	border: 1px solid #333333;
	background: #333333;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #666666;
	background: #333;
	font-weight: bold;
	color: #eeeeee;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #eeeeee;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #aaa;
	background: #444;
	font-weight: bold;
	color: #ffffff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #ddd;
	background: #555;
	font-weight: bold;
	color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #cccccc;
	background: #eeeeee;
	color: #333;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #2e7db2;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #ffb73d;
	background: #ffc73d;
	color: #111111;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #111111;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #111111;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 0.35;
	background-image: none;
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #5c5c5c;
	opacity: .8;
}
.ui-widget-shadow {
	margin: -7px 0 0 -7px;
	padding: 7px;
	background: #cccccc;
	opacity: .6;
	border-radius: 8px;
}
